.header {
  background-color: transparent;
  padding-top: 35px;
  .container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .logo {
        width: 166px;
        height: 33px;
        cursor: $cursor;
      }
      .mobile-nav-toggler {
        display: none;
      }
      .nav-bar {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            cursor: $cursor;
            display: inline-block;
            margin: 0 38px;
            text-transform: uppercase;
            color: $white-color;
            font-size: 16px;
            button {
              border-radius: $border-radius;
              text-transform: $uppercase;
              background-color: $background-color;
              font-weight: $font-weight;
              cursor: $cursor;
              font-size: 16px;
              border: 1px solid $white-color;
              color: $white-color;
              padding: 15px 39px 15px 39px;
              transition: 0.5s;
              &:hover {
                color: $primary-color;
                border: 1px solid $primary-color;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .mobile-nav {
        display: none;
        position: absolute;
        background: $white-color;
        top: 50px;
        width: 100%;
        border-radius: $border-radius;
        height: fit-content;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.18);
        transition: all 250ms ease-out;
        border: 1px solid #eee;
        ul {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: left;
          li {
            cursor: $cursor;
            text-transform: $uppercase;
            display: inline-block;
            margin: 0 38px;
            display: block;
            padding: 15px 20px;
            color: #8897ae;
            border-bottom: 1px solid #eee;
            background: transparent;
            text-align: left;
            font-weight: 500;
            font-size: 16px;
            button {
              text-transform: $uppercase;
              width: 100%;
              font-size: 17px;
              font-weight: 500;
              border: none;
              text-align: left;
              background: transparent;
              color: #8897ae;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .header {
    .container {
      .header-inner {
        .mobile-nav-toggler {
          cursor: pointer;
          display: block;
          padding-right: 30px;
        }
        .nav-bar {
          display: none;
        }
      }
    }
  }
}
