.hero-background {
  width: 100%;
  max-height: 850px;
  height: 100vh;
  margin-top: -90px;
  background-image: linear-gradient(rgba(85, 85, 85, 0.4)),
    url("../image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: $uppercase;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .hero-contnet {
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 72px;
        text-align: $text-align;
        color: $white-color;
      }
      h2 {
        margin-top: 30px;
        font-size: 30px;
        text-align: $text-align;
        color: $white-color;
        font-weight: 400;
      }
      .relative {
        position: relative;
        margin-top: 90px;
        max-width: 770px;
        height: 60px;
        width: 100%;
        .search-input {
          overflow: hidden;
          border-radius: $border-radius;
          border: none;
          outline: none;
          height: 60px;
          width: 100%;
          padding: 30px;
          &::placeholder {
            text-transform: $uppercase;
          }
        }
        .search-info {
          position: absolute;
          top: 0;
          right: 0px;
          height: 60px;
          width: 200px;
          display: flex;
          background: $primary-color;
          font-weight: bold;
          font-size: 14px;
          justify-content: center;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
          align-items: center;
          color: $white-color;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .hero-background {
    .container {
      .hero-contnet {
        top: 50%;
        h1 {
          font-size: 35px;
        }
        h2 {
          font-size: 25px;
        }
        .relative {
          .search-input {
            overflow: hidden;
            border-radius: 0px;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border: none;
            outline: none;
            height: 42px;
            width: 450;
            padding: 0 0 0 30px;
          }
          .search-info {
            position: absolute;
            display: flex;
            background: #e7434e;
            justify-content: center;
            align-items: center;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: 0px;
            color: $white-color;
            top: 40px;
            right: 0px;
            height: 42px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .hero-background {
    margin-top: -135px;
    .container {
      .hero-contnet {
        top: 45%;
        h1 {
          font-size: 25px;
        }
        h2 {
          font-size: 15px;
        }
        .relative {
          margin-top: 30px;
          .search-input {
            overflow: hidden;
            border: none;
            outline: none;
            width: 300px;
            padding: 0 0 0 30px;
          }
          .search-info {
            position: absolute;
            display: flex;
            background: #e7434e;
            justify-content: center;
            align-items: center;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            border-top-right-radius: 0px;
            color: $white-color;
            top: 40px;
            right: 0px;
            height: 42px;
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}
